.product-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .product {
    font-family: Conv_Metropolis;
    font-style: normal;
    text-transform: uppercase;
    .tile{
      border: 2px solid $vessi-green;
      color: $white;
      overflow: hidden;
      position: relative;
      .main-image {
        position: absolute;
        will-change: opacity;
        -webkit-transition: opacity 0.5s ease-out;
           -moz-transition: opacity 0.5s ease-out;
            -ms-transition: opacity 0.5s ease-out;
             -o-transition: opacity 0.5s ease-out;
                transition: opacity 0.5s ease-out;    
        z-index: 10;             
        &:hover { opacity: 0; }
      }
      img {
        width: 100%;
      }
      .sticker {
        background-color: $vessi-green;
        box-sizing: border-box;
        text-align: center;      
        width: auto;
        position: absolute;
        z-index: 50;
      }
      .quick-add-container {
        background-color: $vessi-green;
        bottom: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;   
        z-index: 50;
        .quick-add {
          cursor: pointer;
          display: flex;
          font-style: normal;
          justify-content: center;
          margin: 0 auto;
          position: absolute;
          text-align: center;     
          width: 100%;   
          top: 0;
          z-index: 100;
          &:hover { color: $transparent-white; }    
          &.active {
            top: 100px;
          }        
        }
        .size-selector {
          ul.sizes {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: center;
            li {
              color: $transparent-white;
              display: inline-block;
              line-height: 1.8;
              vertical-align: middle;
              &.box {
                border: 2px solid $transparent-white;
                height: 23px;
                margin-right: 8px;
                width: 23px;
                text-align: center;
                &:hover, &.active {
                  border-color: white;
                  background-color: white;
                  color: $vessi-green;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      color: $vessi-green;          
      text-align: left;           
      .info {   
        .name { display: block; }
        .color {
          display: block;
          color: $vessi-green-light;
        }
        .price { display: block; }
      }
    }
  }
}

ul.sizes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin:0;
  li {
    display: inline-block;
    vertical-align: middle;
    &.box {
      text-align: center;
      &:hover, &.active {
        cursor: pointer;
      }
    }
  }
} 