$text: #231f20;
$white: #FFFFFF;
$modal-background: rgba(26, 26, 26, 0.4);

$vessi-green: #015964;
$vessi-green-light: #5E898F;  // No color available in Figma.  Hex was color picked.
$transparent-white: rgba(255, 255, 255, 0.6);
