@font-face {
    font-family: 'Conv_Metropolis';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Light.eot?v=12029661367582970102);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Light.woff?v=4708498302632645140) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Light.ttf?v=10145443954779728797) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Light.svg?v=8045747710827309751) format("svg");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'Conv_Metropolis';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Regular.eot?v=1180679465422780634);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Regular.woff?v=5924678072187429736) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Regular.ttf?v=15561416585785447299) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Regular.svg?v=7973110769189386019) format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Conv_Metropolis';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-RegularItalic.eot?v=7957711292958360588);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-RegularItalic.woff?v=10747111515214166260) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-RegularItalic.ttf?v=7191207544999499584) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-RegularItalic.svg?v=8276142465044810051) format("svg");
    font-weight: normal;
    font-style: italic; }
  
  @font-face {
    font-family: 'Conv_Metropolis';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Medium.eot?v=9175291057712958128);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Medium.woff?v=5802567701976915622) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Medium.ttf?v=14749452070877692905) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-Medium.svg?v=5366676288389589717) format("svg");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: 'Conv_Metropolis';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-MediumItalic.eot?v=18006952483854388008);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-MediumItalic.woff?v=10425049709256731478) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-MediumItalic.ttf?v=10000076373338596692) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-Metropolis-MediumItalic.svg?v=16563828839896600164) format("svg");
    font-weight: 500;
    font-style: italic; }
  
  @font-face {
    font-family: 'Conv_NoirPro';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-Regular.eot?v=15715325689466711146);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-Regular.woff?v=13540853110964984750) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-Regular.ttf?v=5756416303875125680) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-Regular.svg?v=6192041585059908332) format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Conv_NoirPro';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBold.eot?v=18073244335331508341);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBold.woff?v=14952825861883807701) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBold.ttf?v=15517609458425350108) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBold.svg?v=4690885177852231227) format("svg");
    font-weight: 600;
    font-style: normal; }
  
  @font-face {
    font-family: 'Conv_NoirPro';
    font-display: swap;
    src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBoldItalic.eot?v=3871451646536745890);
    src: local("Conv_Metropolis"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBoldItalic.woff?v=11992552330834425862) format("woff"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBoldItalic.ttf?v=3923453872408793994) format("truetype"), url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/321/assets/font-NoirPro-SemiBoldItalic.svg?v=255852220930871050) format("svg");
    font-weight: 600;
    font-style: italic; }
  